/* Fonts */
/* ------------------------------------ */
$ff-main: "Manrope", sans-serif;

/* Colors */
/* ------------------------------------ */
$color-black: #000000; //фон
$color-coral-red: #FF4136; //red
$color-white: #FFFFFF; //белый
$color-smoky-white: #F2F2F2; //текст белый
$color-gainsboro: #DBDBDB; //серый на белом
$color-spanish-gray: #9A9A9A; //текст серый
$color-dim-gray: #686868; //серый текст на белом
$color-dark-charcoal: #333333; //пролоски,неактив
$color-chinese-black: #131313; //подложка

/* Breakpoints */
/* ------------------------------------ */
$vp-tablet: 1439px;
$vp-mobile: 879px;