.intro {
    margin: 0 0 64px;
    padding: 0;

    &__title {
        font-size: 64px;
        line-height: 100%;
        font-weight: 700;
        color: $color-white;
        letter-spacing: -0.04em;
        margin: 0 0 24px;
    }

    &__text {
        font-size: 28px;
        line-height: 100%;
        font-weight: 700;
        letter-spacing: -0.02em;
        margin: 0 0 50px;
        max-width: 668px;
    }

    &__wrapper {
        display: flex;
        gap: 35px;
    }

    &__card {
        display: flex;
        flex-direction: column;
        max-width: 380px;
        margin: 0;
        padding: 0;
        max-width: 323px;
    }

    &__card-svg {
        margin: 0 0 20px;
        padding: 0;
    }

    &__card-title {
        font-size: 22px;
        line-height: 100%;
        font-weight: 700;
        color: $color-smoky-white;
        margin: 0 0 12px;
        padding: 0;
        letter-spacing: -0.02em;
    }

    &__card-text {
        font-size: 14px;
        line-height: 22px;
        font-weight: 700;
        color: $color-spanish-gray;
        margin: 0;
        padding: 0;
    }

    &__separate {
        border: 0.5px solid $color-dark-charcoal;
        margin: 0;
        padding: 0;
    }

    &__img {
        position: absolute;
        z-index: -5;
        top: 150px;
        left: 46%;
        transform: rotate(13deg);
        width: 840px;
        height: 700px;
    }
}