.intro {
    margin: 0 0 64px;
    padding: 0;
    overflow: hidden;

    @include vp-1439 {
        margin: 0 0 98px;
    }

    @include vp-879 {
        margin: 0 0 76px;
    }

    &__title {
        font-size: 64px;
        line-height: 100%;
        font-weight: 700;
        color: $color-white;
        letter-spacing: -0.04em;
        margin: 0 0 24px;

        @include vp-1439 {
            font-size: 40px;
            line-height: 110%;
        }

        @include vp-879 {
            font-size: 28px;
            line-height: 100%;
            margin: 0 0 32px;
        }
    }

    &__text {
        font-size: 28px;
        line-height: 100%;
        font-weight: 700;
        letter-spacing: -0.02em;
        margin: 0 0 50px;
        max-width: 668px;

        @include vp-1439 {
            font-size: 24px;
            line-height: 110%;
            margin: 0 0 73px;
            max-width: 384px;
        }

        @include vp-879 {
            font-size: 18px;
            line-height: 24px;
            margin: 0 0 40px;
        }
    }

    &__wrapper {
        display: flex;
        gap: 35px;

        @include vp-879 {
            flex-direction: column;
            gap: 20px;
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        max-width: 323px;
        margin: 0;
        padding: 0;

        @include vp-1439 {
            max-width: 100%;
        }
    }

    &__card-svg {
        margin: 0 0 20px;
        padding: 0;
    }

    &__card-title {
        font-size: 22px;
        line-height: 100%;
        font-weight: 700;
        color: $color-smoky-white;
        margin: 0 0 12px;
        padding: 0;
        letter-spacing: -0.02em;

        @include vp-1439 {
            font-size: 22px;
            line-height: 110%;
        }
    }

    &__card-text {
        font-size: 14px;
        line-height: 22px;
        font-weight: 700;
        color: $color-spanish-gray;
        margin: 0;
        padding: 0;
    }

    &__separate {
        border: 0.5px solid $color-dark-charcoal;
        margin: 0;
        padding: 0;
    }

    &__img {
        position: absolute;
        z-index: -5;
        top: 150px;
        left: 46%;
        transform: rotate(13deg);
        max-width: 840px;
        max-height: 703px;

        @include vp-1439 {
            top: 10%;
            left: 50%;
            max-width: 381px;
            max-height: 299px;
        }

        @include vp-879 {
            display: none;
        }
    }
}