.mini-prise {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border: none;
    padding: 0;
    margin: 0;

    @include vp-1439 {
        flex-direction: row;
    }

    // @include vp-879 {}

    &__picture {
        filter: brightness(50%);
        padding: 12.5px 25.5px;
        width: 100%;
        transition: transform 0.3s ease;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        margin: 0;

        @include vp-1439 {
            padding: 10px;
        }

        @include vp-879 {
            padding: 5px;
        }
    }

    &__picture--active {
        padding: 10px;
        filter: none;
        background-color: $color-white;
        border-radius: 10px 0 0 10px;

        @include vp-1439 {
            border-radius: 10px 10px 0 0;
        }

        @include vp-879 {
            padding: 5px;
        }


        .mini-prise__img {
            width: 142px;
            height: 203px;

            @include vp-1439 {
                width: 150px;
                height: 215px;
            }

            @include vp-879 {
                width: 80px;
                height: 115px;
            }
        }
    }

    &__img {
        transition: transform 0.3s ease-in;
        border-radius: 5px;

        @include vp-1439 {
            width: 130px;
            height: 187px;
        }

        @include vp-879 {
            width: 63px;
            height: 90px;
        }
    }
}